node_modules
dist
build
.next
out
coverage
*.log
.env
.env.local
.env.*.local
.DS_Store
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
*.tsbuildinfo
.cache
.turbo
*.sedmslic
*.sedmsreq
*.sedmscrl
!docs/spec/*.sedmslic.example
!docs/spec/*.sedmsreq.example
private-keys/
*.pem
*.key
!docs/spec/*.pem.example
downloads/
uploads/
